.layout {
  display: flex;
  width: 100%;
}

.content {
  flex: 1;
  margin-left: 280px;
  /* Width of the sidebar */
  transition: margin-left 0.3s ease;
  width: calc(100% - 280px);
}

/* When sidebar is collapsed */
.layout.sidebar-collapsed .content {
  margin-left: 85px;
  /* Collapsed width */
  width: calc(100% - 85px);
}