/* Background */
.enroll-page {
  background: #f5f6f7;
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

/* White card */
.enroll-container {
  background: #ffffff;
  width: 75%;
  max-width: 1100px;
  padding: 50px 70px;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* Titles */
.enroll-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 45px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Flex row for title */
.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Add course button */
.add-course-btn {
  border: 1px solid #22c55e;
  background: white;
  color: #22c55e;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* Delete icon button (SMALL ICON) */
.delete-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #e11d48;
  padding: 2px 6px;
}

.delete-icon-btn:hover {
  opacity: 0.7;
}

/* Inputs */
.input-select {
  width: 100%;
  padding: 14px;
  background: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  margin-bottom: 15px;
  font-size: 15px;
}

/* Batch dropdown + link */
.batch-container {
  position: relative;
  margin-bottom: 15px;
}

.create-batch-link {
  position: absolute;
  right: 0;
  top: -19px;
  color: #00a35a;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

/* Submit Button */
.center-btn {
  display: flex;
  justify-content: center;
}

.enroll-btn {
  background: #00c166;
  padding: 14px 45px;
  border-radius: 30px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
